*.json text eol=lf working-tree-encoding=UTF-8
*.xml text eol=lf working-tree-encoding=UTF-8
*.yaml text eol=lf working-tree-encoding=UTF-8
*.txt text eol=lf working-tree-encoding=UTF-8
*.rdf text eol=lf working-tree-encoding=UTF-8
